.header-color {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.link{
  color: white;
  font-size: 20px;
}

.link2{
  font-size: 20px;
}


.landing-grid{
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.avatar-img {
border-radius: 40%;
height: 325px;
padding-top: 3em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;

}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
display: flex;
justify-content: space-between;
width: 50%;
margin: auto;
}



.social-links i {
  color:white;
  font-size:5em;
  padding: 8px;
}

.fa-linkedin-square:hover {
color: #0077B5;
}

.fa-github-square:hover {
  color: rgb(177, 173, 173);
  }

  .fa-envelope-square:hover {
    color: rgb(241, 76, 76);
    }


.projects-grid{
  display: flex;
}

.contact-body{
  margin: auto;
  padding-top: 5em;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color: black;
  margin-bottom: 20px;
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.contact-grid h2{
  font-family: 'Anton', sans-serif;
}

.contact-grid p{
  font-weight: bold;
  font-size: 17.5px;

}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  justify-content: center;
  padding-right: 5rem;
  margin-left: 10rem;
    /*padding-right: 5rem;*/
}



/*resume page*/
.resume-right-col{
background: #27221f;
color: white;
padding: 2em;

}

.Row{
  display: flex;
}

.Btn {
  width: 37%;
}

.res{
  padding-right: 10px;
}